<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.lawyer.cases.infoApprovalForm.mapper.CaseInfoApprovalFormMapper">


    <select id="page" resultType="com.zs.lawyer.cases.infoApprovalForm.domain.entity.CaseInfoApprovalFormEntity">
        SELECT a.*, b.case_name
        FROM `case_info_approval_form` a
        JOIN case_info b on b.case_info_id = a.case_info_id
        <where>
            <if test="params.caseName != null and params.caseName != ''">
                AND b.case_name LIKE CONCAT('%', #{params.caseName}, '%')
            </if>
            <if test="params.caseNo != null and params.caseNo != ''">
                AND a.case_no LIKE CONCAT('%', #{params.caseNo}, '%')
            </if>
            <if test="params.caseType != null and params.caseType != ''">
                AND a.case_type LIKE CONCAT('%', #{params.caseType}, '%')
            </if>
            <if test="params.customerName != null and params.customerName != ''">
                AND b.customer_name LIKE CONCAT('%', #{params.customerName}, '%')
            </if>
            <if test="params.approvalStatus != null and params.approvalStatus != ''">
                AND a.approval_status = #{params.approvalStatus}
            </if>
        </where>

        ORDER BY a.approval_time DESC
    </select>
</mapper>
